<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net45" />
  <package id="Core" version="1.0.0" targetFramework="net45" />
  <package id="DotSpatial.Data" version="1.7" targetFramework="net45" />
  <package id="DotSpatial.Mono" version="1.7" targetFramework="net45" />
  <package id="DotSpatial.Projections" version="1.7" targetFramework="net45" />
  <package id="DotSpatial.Serialization" version="1.7" targetFramework="net45" />
  <package id="DotSpatial.Topology" version="1.7" targetFramework="net45" />
  <package id="fastJSON" version="2.1.12.0" targetFramework="net45" />
  <package id="IronPython" version="2.7.5" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="knockoutjs" version="2.2.1" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.6" targetFramework="net45" />
  <package id="netDXF" version="0.9.3" targetFramework="net45" />
  <package id="ObjectListView" version="2.7.1" targetFramework="net45" />
  <package id="ProjNet" version="1.2" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Rx-Core" version="2.0.20814" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.0.20814" targetFramework="net45" />
  <package id="Rx-Main" version="1.0.2856.0" targetFramework="net45" />
  <package id="Sammy.js" version="0.7.4" targetFramework="net45" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net45" />
</packages>